<div class='container'>
    <h1> Restaurant Category Info. </h1>
    <h4>Name: <%- category.name %></h4>

    <% if (currentUser && currentUser.admin) { %>
        <div>
          <form action="<%- deleteCategoryPath %>" method="POST">
            <input type="hidden" name="_method" value="delete" />
            <input type="submit" value="Delete Category" />
          </form>
        </div>
        <div>
          <a href="<%- editCategoryPath %>"> Edit Category</a>
        </div>
    <% } %>

    <div class="row-wrap-list">
      <% if (!restaurantList.length) { %>
        <p>Parece que no hay nadie en esta categoria </p>
      <% } else { 
        for (let i = restaurantList.length-1; i >= 0; i -= 1) { 
          restaurant = restaurantList[i] %>
          <div class="box">
            <area class="image-box" href="<%- showRestaurantPath(restaurant) %>"/>

            <div class="in-box-footer">
              <a href="<%- showRestaurantPath(restaurant) %>"><%- restaurant.name %></a>
              <%- restaurant.score %>
            </div>
          </div>
        <% } %>
      <% } %>
    </div>
</div>
